/* body {
  font-style: sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */


.btn-block {
  background: grey;
  padding: 50px 30px;
  display: flex;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.box {
  box-sizing: border-box;
  width: 400px;
  height: 250px;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

button {
  width: 100px;
  height: 30px;
  display: block;
  border: none;
  margin: 0 auto;
  margin-top: 25px;
}