/* body {
  font-style: sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 40vh;
} */


.btn-block {
  background: grey;
  padding: 50px 30px;
}

.blue {
  background: blue;
}

button {
  width: 70px;
  height: 30px;
  background: yellow;
  border: none;
}